{% extends "base_generic.html" %}

{% block content %}
  <h1>Scinguistics Archive</h1>
  <p>Welcome to Scinguistics Archive, a project developed by <span style="color:HotPink" class="cutetooltip">Lílian & Emilia<span class="cutetooltiptext">💓</span></span> and made possible by <a href="{% url 'thanks' %}">Charles' patreon supporters</a>! Thank you!</p>
  <h2>Archive records</h2>
  <p>The archive has the following record counts:</p>
  <ul>
    <li><strong>Students:</strong> {{ num_students }}</li>
    <li><strong>Lessons:</strong> {{ num_lessons }}</li>
    {% for type, count in list_num_lessons_per_type %}
        <li style="margin-left:1em"><strong>{{ type }}:</strong> {{ count }}</li>
    {% endfor %}
  </ul>
{% endblock %}
