{% extends "base_generic.html" %}

{% block content %}
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
      <tr class="fieldWrapper">
        <th>{{ form.teacher.label_tag }}</th>
        <td>
            {{ form.teacher.errors }}
            {{ form.teacher }}
            <a href="{% url 'teacher-create' %}" class="btn btn-success btn-sm"><strong>+</strong></a>
            <br>{{ form.teacher.help_text }}
        </td>
      </tr>
      <tr class="fieldWrapper">
        <th>{{ form.student.label_tag }}</th>
        <td>
            {{ form.student.errors }}
            {{ form.student }}
            <a href="{% url 'student-create' %}" class="btn btn-success btn-sm"><strong>+</strong></a>
            <br>{{ form.student.help_text }}
        </td>
      </tr>
      <tr class="fieldWrapper">
        <th>{{ form.type.label_tag }}</th>
        <td>
            {{ form.type.errors }}
            {{ form.type }}
            <a href="{% url 'type-create' %}" class="btn btn-success btn-sm"><strong>+</strong></a>
            <br>{{ form.type.help_text }}
        </td>
      </tr>
      <tr class="fieldWrapper">
        <th>{{ form.tags.label_tag }}</th>
        <td>
            {{ form.tags.errors }}
            {{ form.tags }}
            <a href="{% url 'tag-create' %}?next={{ request.path|urlencode }}" class="btn btn-success btn-sm"><strong>+</strong></a>
            <br>{{ form.tags.help_text }}
        </td>
      </tr>
      <tr>
	<th></th>
	<td><strong>Please, only input a CRAIG/GIARC link OR upload a file (uploading a file requires setting the date and time):</strong></td>
      </tr>
      <tr class="fieldWrapper">
        <th>{{ form.recording_processing_link.label_tag }}</th>
        <td>
            {{ form.recording_processing_link.errors }}
            {{ form.recording_processing_link }}
            <button type="button" onclick="get_info()">get info</button>
            <br>{{ form.recording_processing_link.help_text }}
            <br><label style="color:Green" id=duration>duration: </label>
            <br><label style="color:Green" id=users>users: </label>
        </td>
      </tr>
      <tr class="fieldWrapper">
        <th>{{ form.form_date_and_time.label_tag }}</th>
        <td>
            {{ form.form_date_and_time.errors }}
            {{ form.form_date_and_time }}
            <br>{{ form.form_date_and_time.help_text }}
        </td>
      </tr>
      <tr class="fieldWrapper">
        <th>{{ form.form_recording_file.label_tag }}</th>
        <td>
            {{ form.form_recording_file.errors }}
            {{ form.form_recording_file }}
            <br>{{ form.form_recording_file.help_text }}
        </td>
      </tr>
    </table>
    {{ form.non_field_errors }}
    <input type="submit" value="Submit">
  </form>

  <script>
      function duration() {
          var url = document.getElementById("id_recording_processing_link").value;
          // changed because of change in craig api
          const parsed = new URL(url);
          const newurl = `${parsed.protocol}//${parsed.host}/api/recording/${parsed.pathname.split("/")[2]}/duration?key=${parsed.searchParams.get('key')}`

          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var dur_s = Math.trunc(JSON.parse(this.responseText).duration);
                var dur_m = Math.trunc(dur_s/60);
                var dur_h = Math.trunc(dur_m/60);
                const pad = (num) => String(num).padStart(2, '0');
                var dur = `${pad(dur_h)}:${pad(dur_m-(dur_h*60))}:${pad(dur_s-(dur_m*60))}`
                document.getElementById("duration").innerHTML = "duration: " + dur;
            } else if (this.readyState == 4 && this.status != 200) {
                document.getElementById("duration").innerHTML = "duration: NOT FOUND";
            } else {
                document.getElementById("duration").innerHTML = "duration: loading...";
            }
          };
          // xhttp.open("GET", `${window.location.protocol}//${window.location.host}/catalog/corsrequest/?url=${url}&duration&r=${Math.random()}`, true);
          xhttp.open("GET", `${window.location.protocol}//${window.location.host}/catalog/corsrequest/?url=${newurl}`, true);
          xhttp.send();
      }
      function users() {
          var url = document.getElementById("id_recording_processing_link").value;
          // changed because of change in craig api
          const parsed = new URL(url);
          const newurl = `${parsed.protocol}//${parsed.host}/api/recording/${parsed.pathname.split("/")[2]}/users?key=${parsed.searchParams.get('key')}`

          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                // var tracks = JSON.parse(this.responseText).tracks;
                // var users = "";
                // for (var key in tracks) {
                //     if (tracks[key].name != "Craig" && tracks[key].name != "Giarc") {
                //       users += tracks[key].name + ", ";
                //     }
                // }
                // document.getElementById("users").innerHTML = "users: " + users.slice(0 ,-2);
                var users = JSON.parse(this.responseText).users;
                var users_list = [];
                for (let i = 0; i < users.length; i++) {
                    users_list.push(users[i].username);
                }
                document.getElementById("users").innerHTML = "users: " + users_list.join(", ");
            } else if (this.readyState == 4 && this.status != 200) {
                document.getElementById("users").innerHTML = "users: NOT FOUND";
            } else {
                document.getElementById("users").innerHTML = "users: loading...";
            }
          };
          xhttp.open("GET", `${window.location.protocol}//${window.location.host}/catalog/corsrequest/?url=${newurl}`, true);
          xhttp.send();
      }
      function get_info() {
          duration();
          users();
      }
  </script>
{% endblock %}
