{% extends "base_generic.html" %}

{% block content %}
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
      <tr class="fieldWrapper">
        <th>{{ form.teacher.label_tag }}</th>
        <td>
            {{ form.teacher.errors }}
            {{ form.teacher }}
            <a href="{% url 'teacher-create' %}" class="btn btn-success btn-sm"><strong>+</strong></a>
            <br>{{ form.teacher.help_text }}
        </td>
      </tr>
      <tr class="fieldWrapper">
        <th>{{ form.student.label_tag }}</th>
        <td>
            {{ form.student.errors }}
            {{ form.student }}
            <a href="{% url 'student-create' %}" class="btn btn-success btn-sm"><strong>+</strong></a>
            <br>{{ form.student.help_text }}
        </td>
      </tr>
      <tr class="fieldWrapper">
        <th>{{ form.type.label_tag }}</th>
        <td>
            {{ form.type.errors }}
            {{ form.type }}
            <a href="{% url 'type-create' %}" class="btn btn-success btn-sm"><strong>+</strong></a>
            <br>{{ form.type.help_text }}
        </td>
      </tr>
      <tr class="fieldWrapper">
        <th>{{ form.tags.label_tag }}</th>
        <td>
            {{ form.tags.errors }}
            {{ form.tags }}
            <a href="{% url 'tag-create' %}?next={{ request.path|urlencode }}" class="btn btn-success btn-sm"><strong>+</strong></a>
            <br>{{ form.tags.help_text }}
        </td>
      </tr>
      <tr>
	<th></th>
	<td><strong>Please, only input a CRAIG/GIARC link OR upload a file (uploading a file requires setting the date and time):</strong></td>
      </tr>
      <tr class="fieldWrapper">
        <th>{{ form.recording_processing_link.label_tag }}</th>
        <td>
            {{ form.recording_processing_link.errors }}
            {{ form.recording_processing_link }}
            <button onclick="getData()">get data</button>
            <br>{{ form.recording_processing_link.help_text }}
        </td>
      </tr>
      <tr class="fieldWrapper">
        <th>{{ form.form_date_and_time.label_tag }}</th>
        <td>
            {{ form.form_date_and_time.errors }}
            {{ form.form_date_and_time }}
            <br>{{ form.form_date_and_time.help_text }}
        </td>
      </tr>
      <tr class="fieldWrapper">
        <th>{{ form.form_recording_file.label_tag }}</th>
        <td>
            {{ form.form_recording_file.errors }}
            {{ form.form_recording_file }}
            <br>{{ form.form_recording_file.help_text }}
        </td>
      </tr>
    </table>
    {{ form.non_field_errors }}
    <input type="submit" value="Submit">
  </form>

  <script>
      async function getData() {
          var url = document.getElementById('id_recording_processing_link').value;
          // get duration
          let duration = await fetch(url+"&duration")
            .then(response => response.json())
            .then(json => {
                return json.duration;
            });
          var dur_s = Math.trunc(duration)
          var dur_m = Math.trunc(dur_s/60);
          var dur_h = Math.trunc(dur_m/60);
          const pad = (num) => String(num).padStart(2, '0');
          var dur = `${pad(dur_h)}:${pad(dur_m-(dur_h*60))}:${pad(dur_s-(dur_m*60))}`
          // get users
          let tracks = await fetch(url+"&fetch=info")
            .then(response => response.json())
            .then(json => {
                return json.tracks;
            });
          var users = "";
          for (var key in tracks) {
              if (tracks[key].name != "Craig" && tracks[key].name != "Giarc") {
                users += "\t" + tracks[key].name + "\n";
              }
          }
          // alert
          alert("duration: "+dur+"\n"+"users: \n"+users)
      }
  </script>
{% endblock %}
